.custom-button {
    color: #131313;
    background-color: #ffbe00;
    text-transform: uppercase;
    border:none;
    padding: 0 35px 35px;
    font-weight: bolder;
    font-size: 15px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #fff200;;
    }

    &.google-sign-in {
        background-color: blueviolet;
        
        &:hover {
            background-color: #8c0091
        }
    }

    &.inverted {
        background-color: #b8b8b8;
        
        &:hover {
            background-color: #ffffff;
        }
    }
}