.bag-full {
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover .bag{
        fill:#fff200;
    }

    &:hover .bag-count  {
        color:#fff200;
    }

    .bag {
        transition: 0.3s;
        width: 36px;
        height: 36px;
        fill: #ffbe00;

      
    }

    .bag-count {
        transition: 0.3s;
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
        color: #ffbe00;
     

       
    }

   
}